.container {
  max-width: max-content;
  margin: auto;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}
